# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

.Rhistory
.DS_Store
.RData
.Rapp.history
AAPL.svg
confidence_intervals_Coursera.Rmd
BH.csv
confidence_intervals_Coursera.html
dataframeNOTinterp.csv
dataframe_20Hz_interp0.csv
dataframe_20Hz_interp1.csv
dataframe_arrows3_interp0.csv
dataframe_arrows3_interp1.csv
dataframe_interp0.csv
dataframe_interp1.csv
Figure3.pdf
df2.sps
Figure4.pdf
df2.txt
GSS.RData
inf_for_categorical_data_Coursera.Rmd
inf_for_categorical_data_Coursera.html
inf_for_numerical_data_Coursera.Rmd
inf_for_numerical_data_Coursera.html
P_jack_values.csv
PartialCorr.sav
p_val_0.1.csv
p_val_0.15.csv
q.csv
Untitled.R
rPython.pdf
Untitled2.csv
sampling_distributions_Coursera.Rmd
saving_plot4.pdf
arrows.RData
spss_resid.csv
stat_inf_project.Rmd
stat_inf_project.html
test.csv
test.png
bw_LME_tutorial2.pdf
test.xlsx
test2.csv
xy.csv

BinomialDistribution.R
P.txt
Pvalues.csv
PythonExampls.R
Rplot.pdf
Rplot01.pdf
VirtualCogLab17.R
XP.R
bMean.R
bootANOVA.R
boot_Lib_demo.R
bootstrap.R
confInterSampling.R
confInterSampling2.R
df2.csv
df2.meanc.csv
df2mean.csv
heatmap.R
importData.R
linMEmodel.R
lmerPG.R
minmax+softmax.R
pcorr.R
resampling.R
testCLred.R
wrd_freq.csv

